html,
body,
#profile {
    height: 100%;
}

header {
    max-height: 5%;
    height: auto;
}

main {
    min-height: 83%;
    height: auto;
}

footer {
    height: auto;
    max-height: 12%;
}

#profile {
    background: url("../img/background.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}